<html>
  <head>
    <title><%= page.title %> - <%= theme.title %></title>
    <%- partial('_partial/head') %>
  </head>
  <body>
    <%- partial('_partial/header') %>
    <div id='container'>
      <%- partial('_partial/links') %>
      <%- partial('_partial/post_pagination') %>
      <div class='content'>
        <section class='post'>
          <center>
              <h1>
                  <%= page.title %>
                    <div class='date'><%- date(page.date, config.date_format) %></div>
                  </h1>
          </center>

          <%- page.content %>
        </section>
        <hr>
        <p style="font-size: 16px;color: black;"><b>版权声明:本文为 StackFing 原创文章，如需转载请在明确位置注明出处！！</b></p>
        <hr>
        <p align="center">欢迎关注公众号：StackFing</p>
        <p align="center"><img src="/about/qrcode_258.jpg"></p>
        
      </div>
      <% if (theme.disqus_shortname) { %>
        <%- partial('_partial/disqus') %>
      <% } %>
    </div>
    <%- partial('_partial/footer') %>
  </body>
</html>
